.d-table {
    width: 100%;
    height: 100%;
    display: table;
}

.d-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.custom-btn1 {
    background-color: #189BA6;
    color: #fff;
    border: 1px solid #189BA6;
    display: inline-block;
    padding: 12px 30px;
    text-transform: none;
    text-decoration: none;
}

.custom-btn1:hover {
    background-color: #D5B58F;
    text-decoration: none;
    color: #fff;
    border: 1px solid #D5B58F;
}


/*
Hero slider style 
==========================*/

.hero-slider {
    position: relative;
}

.single-hs-item {
    height: 578px;
    background-size: cover;
    background-position: center top;
    position: relative;
}

.single-hs-item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .4;
}

.hero-text {
    padding: 0 15px;
    text-align: left;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hero-text h2 {
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
}

.hero-text p {
    color: #fff;
    font-size: 17px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.hero-slider .owl-item.active h1 {
    -animation: 1s .3s fadeInUp both;
}

.hero-slider .owl-item.active p {
    -webkit-animation: 1s .3s fadeInUp both;
    animation: 1s .3s fadeInUp both;
}

.hero-slider .owl-item.active .slider-btn {
    -webkit-animation: 1s .3s fadeInUp both;
    animation: 1s .3s fadeInUp both;
}
.hero-slider .owl-item.active .slider-btn {
    margin-top: 60px;
}
.hero-slider .owl-nav button.owl-prev {
    background-color: #ff3547;
    position: absolute;
    left: 0;
    top: 50%;
    color: #fff;
    font-size: 30px;
    margin: -40px 0 0;
    border-radius: 0;
    height: 50px;
    width: 50px;
}

.hero-slider .owl-nav button.owl-next {
    background-color: #ff3547;
    position: absolute;
    right: 0;
    top: 50%;
    color: #fff;
    font-size: 30px;
    margin: -40px 0 0;
    border-radius: 0;
    height: 50px;
    width: 50px;
}

.hero-slider .owl-nav {
    margin-top: 0;
}

.hero-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.hero-slider .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;

}
.hero-slider .owl-dots .owl-dot span{
    background-color: transparent;
    border: 2px solid #fff;
}
.hero-slider .owl-dots .owl-dot.active span,
.hero-slider .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffffff;
}

.featured-post-category-section {
    margin-top: 40px;
}
.c-featured__item {
margin: 0 10px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.c-featured__title {
    position: absolute;
    margin: 0;
    padding: 12px 25px;
    line-height: 1;
    font-size: 14px;
    z-index: 2;
    background: #189BA6;
    color: #ffffff;
    font-family: inherit;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 2px;
    max-width: 90%;
    transform: none;
    height: auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.c-featured__item:hover .c-featured__title {
    background: #D5B58F;
     -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.c-featured__item .slider-overlay {
    display: none;
}
.c-featured__item img {
    top: 0;
    left: 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.slider-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0.10)), to(rgba(0, 0, 0, 0.30)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.10) 20%, rgba(0, 0, 0, 0.30) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.10) 20%, rgba(0, 0, 0, 0.30) 100%);
}
.c-featured__item:hover img {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    background-position: top;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    opacity: 0.63;
}
.blog-listing-section {
    margin-top: 30px;
}

.blog-instagram-row {
    padding: 50px 0;
}
.blog-instagram-gallary {
    padding-top: 50px;
}
.category-name {
    padding: 0 0 20px 0;
}
.category-name a {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}
.blog-listing-thumb {
    max-height: 351px;
    min-height: 351px;
    object-fit: cover;
    width: 100%;
}
.blog-list-grid {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 35px;
}




/* ================== About Us ==================*/

/*Standard Title CSS*/
/*

.head-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    font-weight: 500;
}
.about-us-wrapper {
    margin: 50px 0;
}
.about-us-img-wrap {
    margin: 0 0 0 50px;
    max-width: 542px;   
}
.about-title-contain {
    margin: 0 0 30px 0;
}
.about-us-description {
    margin: 0 0 30px 0;
}
.row.investsor-row-wrapper {
    padding: 50px 0;
    background: rgba(233, 233, 233, 0.3);
}
.investor-title-contain {
    margin-bottom: 30px;
}
.row.investor-club {
    margin: 30px 110px;
}
.investtors-logo {
    margin: 0 auto;
    max-width: 412px;
}
.advertisement-wrapper {
    margin: 50px 0;
}
.advertisement-title-contain {
    margin: 0 0 30px 0;
}
.advertisement-club {
    margin: 20px 0 0 0;
}
.advertisement-logo {
    margin: 0 30px;
    padding-bottom: 45px;
}
.core-team-details {
    margin: 0 0px;
    text-align: center;
}
.team-details-content {
    padding: 20px 0px 0;
}
.team-details-content h2 {
    font-size: 26px;
    font-weight: bold;
}
.col-lg-6.team {
    padding: 0 80px;
    box-sizing: border-box;
}*/


/*Media Query Added by Rohan*/

@media(min-width: 1920px) { 
    /*About Us*/
    .col-lg-6.team {
        padding: 0 125px;
        box-sizing: border-box;
    }
}

@media(max-width: 1919px) {
    .container {
        max-width: 100% !important; 
        padding: 0 60px;

    }
}

@media(min-width: 1024px) and (max-width: 1279px) { 

}


@media( min-width: 768px) and (max-width: 1023px) { 

    /*Standard CSS*/
    .container {
        max-width: 100% !important;
        padding: 0 5%;
    }

	/*Blog Listing CSS Start here*/
	
    .category-name a {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }
    .hero-text h2 {
        color: #fff;
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 500;
        margin: 0;
    }
    .hero-slider .owl-item.active .slider-btn {
        margin-top: 26px;
    }
    .single-hs-item {
        height: 248px;
    }
    .category-name {
        padding: 0 0 10px 0;
    }
    .hero-slider .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
    }
    .c-featured__title {
        padding: 9px 12px;
        font-size: 12px;
        margin: 0 0px;
        letter-spacing: 0
    }
    .col-lg-4.col-md-4.blog-category-grid {
        padding: 0 15px 0 0;
    }
    .c-featured__item {
        margin: 0 0px;
    }
    .col-lg-6.blog-post-coloumn {
        padding: 0 15px 0 0;
        box-sizing: border-box;
    }
}


@media (min-width: 480px) and (max-width: 767px) { 
    /*Standard CSS*/
    .container {
        max-width: 100% !important;
        padding: 0 5%;
    }
}

@media (min-width: 320px) and (max-width: 479px) { 
    /*Standard CSS*/
    .container {
        max-width: 100% !important;
        padding: 0 5%;
    }
}