
/* Contact Us CSS Start */


.row.contact-title  {
    background-size: cover;
    background-position: center center;
}
.contact-us-header {
    padding: 130px 0;
}
.contact-us-header-title {
    line-height: 1;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    max-width: 400px;
}
.contact-us-content {
    padding:50px 0 10px 0;
}
.contact-us-section-1-content {
    padding: 55px 38px 70px 0;
}
.contact-us-form-section {
    padding: 50px 0 0px 69px;
}
.contact-section-1 {
    align-items: center;
}
.contact-us-section-1-title h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 26px;
}
.contact-us-section-1-description p {
    font-size: 20px;
}

.contact-us-form-section h2 {
    font-size: 36px;
    text-align: center;
    line-height: 1;
    margin-bottom: 25px;
}
.contact-us-location-section {
    padding-top: 55px;
    line-height: 1;
}

.contact-us-content-left-desc strong {
    font-weight: 600;
}
.contact-us-location-name-listing{
    list-style: none;
    margin: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    display: inline-flex;
}
.contact-us-location-listing {
    text-align: center;
}
.contact-us-location-name-listing .nav-item .contact-us-location-names {
    color: #189BA6;
    padding: 0 70px;
    border-right: 2px solid #189BA6;
    font-size: 24px;
    font-weight: 300;
}
.contact-us-location-name-listing .nav-item:last-child .contact-us-location-names {
    border-right: none;
    padding-right: 0;
}
.contact-us-location-name-listing .nav-item .contact-us-location-names:active, .contact-us-location-name-listing .nav-item .contact-us-location-names:focus, .contact-us-location-name-listing .nav-item .contact-us-location-names:hover {
    color: #000000;
}
.contact-us-location-details {
    padding-top: 10px;
}
.contact-us-content-row {
    align-items: center;
}
.contact-us-content-left h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
}
.contact-us-content-left-desc p:first-child {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1;
}

.contact-us-content-left-desc p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.2;
}
.contact-us-content-right {
    max-width: 460px;
    margin: 0 auto;
    margin-right: 0;
}

.contact-us-location-name-listing .nav-item:first-child .contact-us-location-names {
    padding-left: 0;
}

.contact-map-gap {
    padding-bottom: 20px;
    padding-top: 40px;
    border-bottom: 1px solid #DEE5E7;
}

.contact-map-gap:last-child {
    border-bottom: none;
}

.contact-us-map-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    line-height: 1;
    padding-bottom: 20px;
}
.contact-us-map-link {
    flex: 1;
    text-align: right;
    font-size: 20px;
    flex-basis: 30%;    
}

.contact-us-map-link a {
    color: #4CA1A8;
}
.contact-us-on-map {
    flex: 1;
    font-size: 20px;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-us-form .wpcf7 {
    max-width: 100%;
}
.contact-us-form .wpcf7 .form-fld {
    padding: 17px 40px;
    margin-bottom: 25px;
    background-color: #F6F5F5;
    font-weight: 500;
    border: 1px solid #F6F5F5;
    font-size: 20px;
    font-weight: 400;
    height: auto;
    line-height: 1;
    color: rgba(0,0,0,0.5);
}

.contact-us-form .form-fld:focus, .contact-us-form .wpcf7 .form-fld:focus {
border-color: #F6F5F5;
box-shadow: none;
    background-color: #F6F5F5;
}
.contact-us-form .wpcf7 .frm-btn {
    padding: 17px 40px;
    margin-bottom: 25px;
    background-color: #189BA6;
    font-weight: 500;
    border: 1px solid #189BA6;
    font-size: 20px;
    height: auto;
    line-height: 1;
    color: #ffffff;
}
.contact-us-form .wpcf7 .frm-btn:hover {
    color: #fff;
    background-color: #d2ae84;
    border-color: #d2ae84;
}
.contact-us-form .frm-btn:focus, .contact-us-form .wpcf7 .frm-btn:focus, .contact-us-form .frm-btn:active, .contact-us-form .wpcf7 .frm-btn:active, .contact-us-form .wpcf7 .frm-btn:not(:disabled):not(.disabled):active[type=submit] {
border-color: #d2ae84;
box-shadow: none;
    background-color: #d2ae84;
    color:#ffffff;
}

.refer-earn-steps-col:last-child {
    padding: 0 0 0 90px;
}

.refer-earn-steps-col:nth-child(2) {
    padding: 0 75px 0 0;
}


/* Ccontact Us CSS End*/





/* Refer and Earn CSS Start */

.frm-contact-main-row .frm-contact-main-text {
     padding: 0 22px; 
}

.efer-earn-steps-icon img {
    width: 120px;
}

.refer-earn-header-title {
    line-height: 1;
    margin-bottom: 0;
    font-size: 44px;
    font-weight: 900;
    color: #fff;
}
.refer-earn-header {
    padding: 130px 0;
}
.row.refer-earn-title {
    background-size: cover;
    background-position: center center;
}
.refer-earn-content {
    padding: 50px 0 0 0;
}
.refer-earn-banner-section {
    margin-top: 70px;
}
.refer-earn-steps-section {
    padding: 90px 0 0 0;
    border-bottom: 2px solid rgba(0, 0, 0, .4);
}
.refer-earn-steps-title {
    text-align: center;
}
.refer-earn-steps-title h2 {
    font-size: 40px;
    font-weight: 500;
}
.refer-earn-steps {
    text-align: center;
    padding: 70px 0;
}
.efer-earn-steps-text {
    margin-top: 45px;
}

.efer-earn-steps-text h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
    line-height: 1.5;
}

.refer-earn-form-section {
    padding: 50px 0 58px 0;
}

.refer-earn-form-section-col {
    padding: 0;
}

.refer-earn-form {
    padding-top: 70px;
}
.refer-earn-form .wpcf7 {
    max-width: 100%;
}
.refer-earn-form .wpcf7 .form-fld {
    padding: 17px 40px;
    margin-bottom: 30px;
    background-color: #F6F5F5;
    font-weight: 500;
    border: 1px solid #F6F5F5;
    font-size: 20px;
    height: auto;
    max-width: 510px;
    line-height: 1;
}

.refer-earn-form .form-fld:focus, .refer-earn-form .wpcf7 .form-fld:focus {
border-color: #F6F5F5;
box-shadow: none;
    background-color: #F6F5F5;
}
.refer-earn-form .wpcf7 .frm-btn {
    padding: 19px 40px;
    margin-bottom: 0px;
    background-color: #189BA6;
    font-weight: 500;
    border: 1px solid #189BA6;
    font-size: 20px;
    max-width: 510px;
    height: auto;
    line-height: 1;
    color: #ffffff;
}
.refer-earn-form .wpcf7 .frm-btn:hover {
    color: #fff;
    background-color: #d2ae84;
    border-color: #d2ae84;
}
.refer-earn-form .frm-btn:focus, .refer-earn-form .wpcf7 .frm-btn:focus, .refer-earn-form .frm-btn:active, .refer-earn-form .wpcf7 .frm-btn:active, .refer-earn-form .wpcf7 .frm-btn:not(:disabled):not(.disabled):active[type=submit] {
border-color: #d2ae84;
box-shadow: none;
    background-color: #d2ae84;
    color:#ffffff;
}

.refer-earn-steps-col:last-child {
    padding: 0 0 0 90px;
}

.refer-earn-steps-col:nth-child(2) {
    padding: 0 75px 0 0;
}




/* Refer and Earn CSS End */




/* single blog css start */

.back-to-blog {
    text-align: right;
}
.back-to-blog a{
    font-size: 14px;
    font-weight: 500;
}
.single-cat-link {
    text-align: center;
}
.single-cat-link a {
    font-size: 16px;
    font-weight: 600;
}
.entry-header .single-blog-title {
    font-size: 35px;
    line-height: 1;
    text-align: center;
    font-weight: 600;
}
.single-blog-entry-header {
    margin-top: 25px;
}
.single-blog-entry-read {
    margin-top: 35px;
    text-align: center;
}
.single-blog-entry-read p {
    font-size: 15px;
    font-weight: 500;
}
.single-blog-entry-content h2 {
font-size: 24px;
}
.single-blog-entry-content p:not(:last-child), .single-blog-entry-content ul:not(:last-child), .single-blog-entry-content ol:not(:last-child), .single-blog-entry-content dl:not(:last-child), .single-blog-entry-content hr:not(:last-child), .single-blog-entry-content table:not(:last-child), .single-blog-entry-content .twocolumn:not(:last-child) {
    margin-bottom: 32px;
}
.single-blog-entry-content h1, .single-blog-entry-content h2, .single-blog-entry-content h3, .single-blog-entry-content h4, .single-blog-entry-content h5, .single-blog-entry-content h6 {
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.4px;
}
.single-blog-entry-content h1, .single-blog-entry-content h2, .single-blog-entry-content h3, .single-blog-entry-content h4, .single-blog-entry-content h5, .single-blog-entry-content h6 {
    line-height: 1.3;
    margin: 23px 0;
}

.social-share-single {
    list-style: none;
    padding-inline-start: 0;
    text-align: center;
}
.social-share-single li {
    display: inline-block;
}
ul.social-share-single li a {
    padding-right: 40px;
    color: #000;
}
.single-blog-social-share {
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.single-related-posts-section {
    padding: 40px 0;
}
.single-related-post-title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.single-related-post-grid {
    padding: 40px 0;
}

.relatedcontent a {
    color: #000;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
}

.related-post-coloumn {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 15px;
    padding: 0;
    flex-basis: 48.4%;
    flex: 0 0 47.5%;
}

.nav-previous {
    flex: 1;
}
.nav-next {
    flex: 1;
    text-align: right;
}
span.next-post-title {
    display: block;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
}
span.prev-post-title {
    display: block;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
}
.nav-next a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}
.nav-previous a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}
.single-next-post {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.single-post-nav {
    margin-bottom: 30px;
}
.comment-reply-title {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 700;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 2rem;
}
p.form-submit {
    padding-left: 15px;
}
.post-comment-btn {
    font-size: 14px !important;
    padding: 15px !important;
    background-color: #189BA6 !important;
    border-radius: 0 !important;
    border: 1px solid #189BA6 !important;
}
.blog-widget-area .widget-title {
    font-size: 20px;
    margin-bottom: 20px;
}
.blog-widget-area .widget_categories ul {
    list-style: none;
    padding-inline-start: 0;
}
.blog-widget-area .widget_categories ul li {
    position: relative;
    line-height: 16px;
    margin-bottom: 15px;
    font-size: 16px;
}
.blog-widget-area .widget_categories ul li:before {
    content: "\2022";
    margin-right: 10px;
    font-size: 21px;
    display: inline-block;
    font-weight: 900;
    position: relative;
    color: #B1B1B1;
}
.blog-widget-area .widget_categories ul li a{
    color: #000;
}
.blog-widget-area .widget:first-child{
    padding: 0 0 35px;
}
.blog-widget-area .widget{
    padding: 35px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.blog-widget-area  .widget_recent_entries ul {
    list-style: none;
    padding-inline-start: 0;
}
.blog-widget-area  .widget_recent_entries ul li  a{
    list-style: none;
    padding-inline-start: 0;
}
.widget_recent_entries ul li a {
    display: inline-block;
    padding: 30px 0;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}
.widget_recent_entries ul li:first-child a {
    padding-top: 0px;
}
.widget_recent_entries ul li:last-child a {
    border-bottom: initial;
    padding-bottom: 0px;
}
.blog-widget-area .zoom-social-icons-widget {
text-align: center;
}
.search-input-field {
    position: relative;
    padding: 20px !important;
}
.search-form {
    align-items: center;
}
.main-search-icon {
   background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    color: rgba(0, 0, 0, 0.2);
}


/* single blog css end */

/*new Thankyou page*/
.thank-you-content-new h1 {
    font-family: 'great_vibesregular';
    font-size: 80px;
    margin-bottom: 30px;
    line-height: 1;
}
.thank-you-content-new {
    padding-bottom: 40px;
    text-align: center;
}
/*New Thankyou page end*/

@media(min-width: 320px) and (max-width: 479px) {



	/* Contact US CSS Start  */

   .contact-us-location-name-listing .nav-item .contact-us-location-names {
	    font-size: 14px;
	    padding: 0 20px;
    }

    .contact-us-header-title {
        font-size: 30px;    
    }

    .contact-us-header {
        padding: 115px 0;
    }

    .contact-us-content {
        padding: 40px 0 0 ;
    }

    .contact-us-section-1-title h2 {
        font-size: 16px;
        /*padding: 0 50px;*/
        margin-bottom: 20px;
        box-sizing: border-box;
        text-align: center;
    }

    .contact-us-section-1-description p {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin: 0;
    }

    .contact-us-form-section h2 {
        font-size: 30px;
    }

    .contact-us-form-section {
        padding: 0;
    }

    .contact-us-content-left h2 {
        font-size: 16px;
    }

    .contact-us-content-left-desc p:first-child {
        font-size: 14px;
    }

    .contact-us-content-left-desc p {
        font-size: 14px;
        line-height: 1.5;
    }

    .contact-us-on-map {
        font-size: 14px;
    }

    .contact-us-map-link {
        font-size: 14px;
    }

    .contact-us-section-1 .contact-section-1 {
        margin: 0;
    }

    .contact-us-section-1-content {
        padding: 30px 0;
    }

    .contact-us-location-section {
        padding-top: 40px;
    }

    .contact-us-location-details {
        padding-top: 30px;
    }

    .contact-us-location-name-listing {
        margin-block-start:0;
    }

    .contact-us-content-left h2 {
        margin-bottom: 18px;
    }

    .contact-us-content-main-row {
        margin-right: 0;
        margin-left: 0;
    }

    .contact-us-click-to-call {
        display: flex;
        padding: 10px;
        background-color: #20B4C0;
        color: #fff;
        font-size: 14px;
        border-radius: 10px;
        max-width: 134px;
        margin: 30px 0;
    }

    .contact-us-click-to-call-text {
        margin-left: 10px;
    }
    .contact-us-map-title {
        margin-bottom: 0px;
        padding-bottom: 15px;
    }

    .contact-map-gap {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .contact-us-form .wpcf7 .form-fld {
    	padding: 7px 10px;
    	font-size: 14px;
    	margin-bottom: 15px;
    }

    .contact-us-form .wpcf7 .frm-btn {
    	padding: 7px 40px;
    	font-size: 14px;
    	margin-bottom: 0;
    }

    .contact-map-gap:first-child {
	    padding-top: 0;
	}

	/* Contact Us CSS End */



	/* Refer And Earn CSS Start */

	.refer-earn-header {
        padding: 115px 30px;
    }

    .refer-earn-header-title {
        font-size: 20px;
        padding: 0;
        font-weight: 800;
    }

    .refer-earn-content {
        padding: 30px 0 0 0;
    }

    .refer-earn-content-main-row {
        padding: 0 10px;
    }

    .refer-earn-banner-section {
        margin-top: 30px;
    }

    .refer-earn-steps-title h2 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .refer-earn-steps-section {
        padding: 30px 0 30px 0;
    }

    .frm-contact-main-text {
        padding: 0;
    }

    .refer-earn-steps {
        display: flex;
        align-items: center;
        padding: 30px 0;
    }

    .efer-earn-steps-text h3{
        font-size: 16px;
        padding-left: 19px;
        text-align: left;
        color: #000;
    }
    .efer-earn-steps-text {
        margin-top: 0;
    }

   .frm-contact-main-row  .frm-contact-main-text {
	    padding: 0;
	}

    .refer-earn-form .wpcf7 .form-fld {
        font-size: 14px;
        margin-bottom: 15px;
        padding: 7px 20px;
    }

    .refer-earn-form-section {
        padding: 30px 0 0 0;
    }

    .refer-earn-form {
        padding-top: 22px;
    }

    .refer-earn-form .wpcf7 .frm-btn {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 0px;
        padding: 7px 40px;
        margin-top: 15px;
    }

    .refer-earn-steps-col:nth-child(2) {
        padding: 0 25px;
    }

    .refer-earn-steps-col:last-child {
        padding: 0 25px;
    }

    .wpcf7 .wpcf7-validation-errors {
        border: none;
        height: 0;
        padding: 10px 0;
    }

    span.wpcf7-not-valid-tip {
        font-size: 16px;
        padding: 10px 0;
    }

    .efer-earn-steps-icon img {
        max-width: 60px;
    }

    .refer-earn-steps-title-easy {
        padding: 0 20px;
    }

    .refer-earn-steps-section .refer-earn-steps-col {
        padding: 0 25px;
    }

    .site-info {
        padding: 0 50px;
    }

    .refer-earn-steps:first-child {
	    padding-bottom: 0;
	}

	/* Refer And Earn CSS End  */

    /* single blog css start */

    .entry-header .single-blog-title {
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 22px;
    }

    .single-blog-entry-content {
        padding-top: 15px;
    }

    .single-blog-entry-content p:not(:last-child), .single-blog-entry-content ul:not(:last-child), .single-blog-entry-content ol:not(:last-child), .single-blog-entry-content dl:not(:last-child), .single-blog-entry-content hr:not(:last-child), .single-blog-entry-content table:not(:last-child), .single-blog-entry-content .twocolumn:not(:last-child) {
         margin-bottom: 30px;
    }

    .single-blog-entry-content em {
        font-weight: 300;
    }

    .single-blog-entry-content h2 {
        font-size: 18px;
        line-height: 22px;
    }

    ul.social-share-single li a {
        color: #222222;
        padding-right: 30px;
    }

    .single-blog-social-share .fa-facebook-f:before, .fa-facebook:before, .fa-linkedin:before, .fa-twitter:before, .fa-pinterest-p:before, .fa-whatsapp:before, .fa-envelope:before {
        margin-right: 6px;
    }

    .single-related-post .single-related-post-title {
        font-size: 18px;
        margin-bottom: 0;
    }

    .single-related-posts-section {
        padding: 30px 0;
    }

    .single-related-post-grid {
        padding: 30px 0 0 0;
    }

    .single-related-post-grid .relatedcontent h3 {
        font-size: 18px;
        color: #222;
        padding: 18px 0;
        line-height: 25px;
        margin-bottom: 0;
    }

    .single-related-post-grid .relatedcontent a {
        font-size: 18px;
        line-height: 22px;
    }

    .single-blog-entry-content p:first-child {
        margin-bottom: 20px;
    }

    .single-blog-social-share .social-share-single li {
        margin-bottom: 30px;
    }

    .single-blog-social-share .social-share-single {
        margin-bottom: 0;
    }

    .single-blog-social-share {
        padding: 0;
    }

    .single-blog-widget-area .widget_categories ul li a {
        color: #222;
        font-size: 14px;
    }

    .single-blog-search-input-group button {
        display: none;
    }

    .single-blog-search-input-group input {
        background-color: #F6F5F5;
    }

    .single-blog-widget-area .widget_recent_entries ul li a {
        font-size: 14px;
    }

    .single-cat-link {
        padding-top: 30px;
    }

    .comment-reply-title {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .single-blog-widget-area .widget_categories ul li {
        margin-bottom: 25px;
    }

    .single-blog-entry-content ul {
        margin-bottom: 0;
    }

    /* single blog css end */

/*new Thankyou page*/
.thank-you-content-new h1 {
    font-family: 'great_vibesregular';
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1;
}
.thank-you-content-new {
    padding-bottom: 30px;
    text-align: center;
        padding-top: 30px;
}
/*New Thankyou page end*/


}


@media(min-width: 480px) and (max-width: 767px){

	
	/* Contact us Css Start */

    .contact-us-location-name-listing .nav-item .contact-us-location-names {
        font-size: 16px;
        padding: 0 20px;
    }

    .contact-us-header-title {
        font-size: 30px;    
    }

    .contact-us-header {
        padding: 105px 0;
    }

    .contact-us-content {
        padding: 30px 0 0 ;
    }

    .contact-us-section-1-title h2 {
        font-size: 16px;
        padding: 0 50px;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-us-section-1-description p {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin: 0;
        padding: 0 40px;
    }

    .contact-us-frm-div-main-row .contact-us-frm-div-main-col {
	    padding: 0;
	}

    .contact-us-form-section h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .contact-us-form-section {
        padding: 0 20px;
    }

    .contact-us-content-left h2 {
        font-size: 16px;
    }

    .contact-us-content-left-desc p:first-child {
        font-size: 14px;
    }

    .contact-us-content-left-desc p {
        font-size: 14px;
    }

    .contact-us-on-map {
        font-size: 14px;
    }

    .contact-us-map-link {
        font-size: 14px;
    }

    .contact-us-section-1 .contact-section-1 {
        margin: 0 ;
    }

    .contact-us-section-1-content {
        padding: 30px 0;
    }

    .contact-us-location-section {
        padding-top: 45px;
    }

    .contact-us-location-details {
        padding-top: 0px;
    }

    .contact-us-location-name-listing {
        margin-block-start:0;
    }

    .contact-us-content-left h2 {
        margin-bottom: 18px;
    }

    .contact-us-click-to-call {
        display: flex;
        padding: 10px;
        background-color: #20B4C0;
        color: #fff;
        font-size: 14px;
        border-radius: 10px;
        max-width: 150px;
        margin: 20px 0 40px 0;
    }

    .contact-us-click-to-call-text {
        margin-left: 10px;
    }
    .contact-us-map-title {
        margin-bottom: 15px;
        padding-bottom: 0;
    }

    .contact-map-gap {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .contact-us-content-main-row {
        margin-right: 0;
        margin-left: 0;
    }


     .contact-section-1 .refer-earn-form .contact-us-frm-div {
        font-size: 28px;
        padding: 25px 30px;
    }


    .contact-section-1 .refer-earn-form .contact-us-frm-btn {
        font-size: 30px;
        padding: 22px 0;
    }

    .contact-us-form .wpcf7 .form-fld {
    	font-size: 14px;
    	padding: 7px 15px;
    	margin-bottom: 20px;
    }

    .contact-us-form .wpcf7 .frm-btn { 
    	font-size: 14px;
    	padding: 7px 15px;
    	margin-bottom: 0;
    }
	
    /* Contact Us Css End */


    /* Refer and Earn Css Start */

      .refer-earn-header {
        padding: 105px 40px;
    }

    .refer-earn-header-title {
        font-size: 24px;
        padding: 0 89px 0 0;
        line-height: 1.5;
        font-weight: 800;
    }

    .refer-earn-content {
        padding: 40px 0 0 0;
    }

    .refer-earn-content-main-row {
        padding: 0 10px;
    }

    .refer-earn-banner-section {
        margin-top: 40px;
    }

    .refer-earn-steps-title h2 {
        font-size: 16px;
        font-weight: 500;
    }

    .refer-earn-steps-section {
        padding: 30px 0 5px 0;
    }

    .refer-earn-steps {
        display: flex;
        align-items: center;
        padding: 25px 0;
    }

    .frm-contact-main-text {
        padding: 0;
    }

    .refer-earn-steps-col:nth-child(2) {
        padding: 0 25px;
    }

    .refer-earn-steps-col:last-child {
        padding: 0 25px;
    }

    .efer-earn-steps-text h3{
        font-size: 16px;
        padding-left: 19px;
        text-align: left;
        font-weight: 400;
        color: #000;
    }
    .efer-earn-steps-text {
        margin-top: 0;
    }

    
    .refer-earn-form-col {
        padding: 0 35px;
    }

    .refer-earn-form .wpcf7 .form-fld {
        font-size: 14px;
        margin-bottom: 15px;
        padding: 10px 20px;
    }

    .refer-earn-form-section {
        padding: 30px 0 0 0;
    }

    .refer-earn-form {
        padding-top: 40px;
    }

    .refer-earn-form .wpcf7 .frm-btn {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 0px;
        padding: 10px 20px;
        margin-top: 15px;
    }

    .frm-contact-main-text div.wpcf7 .ajax-loader {
    	display: none;
    }

    .wpcf7 .wpcf7-validation-errors {
        border: none;
        height: 0;
        padding: 10px 0;
    }

    span.wpcf7-not-valid-tip {
        font-size: 16px;
        padding: 10px 0;
    }

    .efer-earn-steps-icon img {
        max-width: 70px;
    }

    .refer-earn-steps-title-easy {
        padding: 0 20px;
    }

    .refer-earn-steps-section .refer-earn-steps-col {
        padding: 0 25px;
    }

    .site-info {
        padding: 0;
    }

    .frm-contact-main-row .frm-contact-main-text {
	    padding: 0 15px 0 15px;
	}


    /* Refer and Earn Css end */


    /* single blog css start */

    .entry-header .single-blog-title {
        font-size: 18px;
        margin-bottom: 0px;
        line-height: 22px;
    }

    .single-blog-entry-content {
        padding-top: 15px;
    }

    .single-blog-entry-content p:not(:last-child), .single-blog-entry-content ul:not(:last-child), .single-blog-entry-content ol:not(:last-child), .single-blog-entry-content dl:not(:last-child), .single-blog-entry-content hr:not(:last-child), .single-blog-entry-content table:not(:last-child), .single-blog-entry-content .twocolumn:not(:last-child) {
         margin-bottom: 30px;
    }

    .single-blog-entry-content em {
        font-weight: 300;
    }

    .single-blog-entry-content h2 {
        font-size: 18px;
        line-height: 22px;
    }

    ul.social-share-single li a {
        color: #222222;
        padding-right: 50px;
    }

    .single-blog-social-share .fa-facebook-f:before, .fa-facebook:before, .fa-linkedin:before, .fa-twitter:before, .fa-pinterest-p:before, .fa-whatsapp:before, .fa-envelope:before {
        margin-right: 6px;
    }

    .single-related-post .single-related-post-title {
        font-size: 18px;
        margin-bottom: 0;
    }

    .single-related-posts-section {
        padding: 30px 0;
    }

    .single-related-post-grid {
        padding: 30px 0 0 0;
        text-align: center;
    }

    .single-related-post-grid .relatedcontent h3 {
        font-size: 18px;
        color: #222;
        padding: 18px 0;
        line-height: 25px;
        margin-bottom: 0;
    }

    .single-related-post-grid .relatedcontent a {
        font-size: 18px;
        line-height: 22px;
    }

    .single-blog-entry-content p:first-child {
        margin-bottom: 20px;
    }

    .single-blog-social-share .social-share-single li {
        margin-bottom: 30px;
    }

    .single-blog-social-share .social-share-single {
        margin-bottom: 0;
    }

    .single-blog-social-share {
        padding: 0;
    }

    .single-blog-widget-area .widget_categories ul li a {
        color: #222;
        font-size: 14px;
    }

    .single-blog-search-input-group button {
        display: none;
    }

    .single-blog-search-input-group input {
        background-color: #F6F5F5;
    }

    .single-blog-widget-area .widget_recent_entries ul li a {
        font-size: 14px;
    }

    .single-cat-link {
        padding-top: 20px;
    }

    .single-blog-entry-header .single-blog-entry-read {
        margin-top: 10px;
    }

    .single-blog-entry-header .single-blog-entry-read p {
        font-size: 14px;
        margin:0 0 10px 0;
    }

    .comment-reply-title {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .single-blog-widget-area .widget_categories ul li {
        margin-bottom: 25px;
    }

    .single-blog-entry-content ul {
        margin-bottom: 0;
    }

    .single-blog-share i {
        font-size: 20px;
    }
    .single-blog-widget-area ul li .cat-item {
        margin-bottom: 30px;
    }

    .single-blog-widget-area .widget_categories ul li:before {
        font-size: 20px;
    }

    /* single blog css end */
/*new Thankyou page*/
.thank-you-content-new h1 {
    font-family: 'great_vibesregular';
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1;
}
.thank-you-content-new {
    padding-bottom: 30px;
    text-align: center;
    padding-top: 30px;
}
/*New Thankyou page end*/
}


@media(min-width: 768px) and (max-width: 1023px){



	/* Contact Us css start */
	

    .contact-us-location-name-listing .nav-item .contact-us-location-names {
        font-size: 18px;
        padding: 0 60px;
    }

    .contact-us-header-title {
        font-size: 44px;    
    }

    .contact-us-header {
        padding: 102px 0;
    }

    .contact-us-content {
        padding: 40px 0 0 ;
    }

    .contact-us-section-1-title h2 {
        font-size: 18px;
        padding: 0 180px;
        text-align: center;
    }

    .contact-us-section-1-description p {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin: 0;
        padding: 0 50px;
    }

    .contact-us-form-section h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }
    .contact-us-form .wpcf7 .form-fld {
    	font-size: 16px;
    	padding: 11px 30px;
    	margin-bottom: 20px;
    }

    .contact-us-form .wpcf7 .frm-btn {
    	font-size: 16px;
    	padding: 11px 30px;
    	margin-bottom: 0;
    }

    .contact-us-form-section {
        padding: 0 0px 20px 0;
    }

    .contact-us-content-left h2 {
        font-size: 18px;
    }

    .contact-us-content-left-desc p:first-child {
        font-size: 16px;
    }

    .contact-us-content-left-desc p {
        font-size: 16px;
        line-height: 1.4;
    }

    .contact-us-on-map {
        font-size: 16px;
    }

    .contact-us-map-link {
        font-size: 16px;
    }

    .contact-section-1 {
        margin: 0;
    }

    .contact-us-section-1-content {
        padding: 40px 0;
    }

    .contact-us-location-section {
        padding-top: 45px;
    }

    .contact-us-location-details {
        padding-top: 0px;
    }

    .contact-us-location-name-listing {
        margin-block-start:0;
    }

    .contact-us-content-left h2 {
        margin-bottom: 28px;
    }

    .contact-us-content-row .contact-us-content-left .contact-us-click-to-call {
        display: flex !important;
        padding: 10px 25px;
        background-color: #20B4C0;
        color: #fff;
        font-size: 20px;
        border-radius: 10px;
        max-width: 180px;
        margin: 30px 0 40px 0;
    }



    .contact-us-click-to-call-text {
        margin-left: 10px;
        font-size: 16px;
    }
    .contact-us-map-title {
        line-height: 1;
    }

    .contact-map-gap {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .contact-map-gap:first-child {
	    padding-top: 44px;
	}

    .contact-us-frm-div-main-row {
        padding: 0 50px;
    }

     .contact-section-1 .refer-earn-form .contact-us-frm-div {
        font-size: 32px;
        padding: 24px 40px;
        max-width: initial;
        margin: 0px auto 25px;
    }


    .contact-section-1 .refer-earn-form .contact-us-frm-btn {
        font-size: 30px;
        padding: 22px 0;
        max-width: initial;
        margin: 15px auto 20px;
    }

    .contact-us-content-right {
        max-width: initial;

    }

    /* Contact Us css end  */

    /* Refer and Earn Css Start */


    .refer-earn-header {
        padding: 105px 40px;
    }

    .refer-earn-header-title {
        font-size: 32px;
        padding: 0;
        max-width: 300px;
        line-height: 1.5;
        font-weight: 800;
    }

    .refer-earn-content {
        padding: 50px 0;
    }

    .refer-earn-content-main-row {
        padding: 0 ;
    }

    .refer-earn-banner-section {
        margin-top: 50px;
    }

    .refer-earn-steps-title h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .refer-earn-steps-section {
        padding: 50px 0 50px 0;
    }

    .refer-earn-steps {
        display: flex;
        align-items: center;
        padding: 50px 0 0;
    }

    .frm-contact-main-text {
        padding: 0;
    }

    .refer-earn-steps-col:nth-child(2) {
        padding: 0 80px;
    }

    .refer-earn-steps-col:last-child {
        padding: 0 80px;
    }

    di.wpcf7 .ajax-loader {
        display: none;
    }

    .efer-earn-steps-text h3{
        font-size: 18px;
        padding-left: 29px;
        text-align: left;
        font-weight: 400;
        color: #000;
    }
    .efer-earn-steps-text {
        margin-top: 0;
    }

    .refer-earn-form-col {
        padding: 0 35px;
    }

    .refer-earn-form .wpcf7 .form-fld {
        font-size: 18px;
        font-weight: 400;
        padding: 12px 20px;
        max-width: 406px;
        margin: 0 auto 20px;
    }

    .refer-earn-form-section {
        padding: 50px 0 0 0;
    }

    .refer-earn-form {
        padding-top: 60px;
    }

    .refer-earn-form .wpcf7 .frm-btn {
        font-size: 18px;
        font-weight: 300;
        padding: 12px 40px;
        max-width: 406px;
        margin: 0 0 0 0px;
    }

    .frm-contact-main-row .frm-contact-main-text .ajax-loader {
    	display: none;
    }

    .frm-contact-main-row .frm-contact-main-text {
	    padding: 0 0px 0 0;
	}

    .wpcf7 .wpcf7-validation-errors {
        border: none;
        height: 0;
        padding: 10px 0;
    }

    span.wpcf7-not-valid-tip {
        font-size: 16px;
        padding: 10px 0;
    }

    .wpcf7-form:last-child {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .efer-earn-steps-icon img {
        max-width: 80px;
    }

    .refer-earn-steps-col:nth-child(3) {
    	padding: 0 80px;
    }

    .refer-earn-steps-title-easy {
        padding: 0 20px;
    }

    .refer-earn-steps-col {
        padding: 0 80px;
    }

    .site-info {
        padding: 0;
    }



    /* Refer and Earn Css end */
/*new Thankyou page*/
.thank-you-content-new h1 {
    font-family: 'great_vibesregular';
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 1;
}
.thank-you-content-new {
    padding-bottom: 30px;
    text-align: center;
    padding-top: 30px;
}
/*New Thankyou page end*/

}


@media(min-width: 1024px) and (max-width: 1279px) {

	/* Contact Us css start */

	.contact-us-location-name-listing .nav-item .contact-us-location-names {
        font-size: 24px;
        padding: 0 60px;
        font-weight: 300;
    }

    .contact-us-header-title {
        font-size: 44px;    
    }

    .contact-us-header {
        padding: 107px 0;
    }

    .contact-us-content {
        padding: 40px 0 0 ;
    }

    .contact-us-section-1-title h2 {
        font-size: 22px;
        padding: 0;
        text-align: left;
    }

    .contact-us-section-1-description p {
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        margin: 0;
    }

    .contact-us-form .wpcf7 .form-fld {
    	font-size: 18px;
    	padding: 11px 29px;
    	margin-bottom: 20px;
    }

    .contact-us-form .wpcf7 .frm-btn {
    	font-size: 18px;
    }

    .contact-us-form-section h2 {
        font-size: 24px;
        margin-bottom: 35px;
        text-align: right;
    }

    .contact-us-form-section {
        padding: 40px 0px 0px 0;
    }

    .contact-us-content-left h2 {
        font-size: 22px;
    }

    .contact-us-content-left-desc p:first-child {
        font-size: 18px;
    }

    .contact-us-content-left-desc p {
        font-size: 18px;
    }

    .contact-us-on-map {
        font-size: 18px;
    }

    .contact-us-map-link {
        font-size: 18px;
    }

    .contact-section-1 {
        margin: 0;
    }

    .contact-us-section-1-content {
        padding: 40px 0;
    }

    .contact-us-location-section {
        padding-top: 44px;
    }

    .contact-us-location-details {
        padding-top: 0px;
    }

    .contact-us-location-name-listing {
        margin-block-start:0;
    }

    .contact-us-content-left h2 {
        margin-bottom: 30px;
    }

    .contact-us-click-to-call {
        display: flex;
        padding: 10px;
        background-color: #20B4C0;
        color: #fff;
        font-size: 20px;
        border-radius: 10px;
        max-width: 180px;
        margin: 30px 0;
    }

    .contact-us-click-to-call-text {
        margin-left: 10px;
    }
    .contact-us-map-title {
        margin-bottom: 0px;
    }

    .resp-container iframe {
	    height: 220px;
	}


    .contact-map-gap {
        padding-bottom: 7px;
    }

    .contact-us-frm-div-main-row {
        padding: 0 0 0 87px;
    }

     .contact-section-1 .refer-earn-form .contact-us-frm-div {
        font-size: 24px;
        padding: 20px 22px;
        max-width: initial;
        margin: 0px auto 25px;
    }


    .contact-section-1 .refer-earn-form .contact-us-frm-btn {
        font-size: 30px;
        padding: 22px 0;
        max-width: initial;
        margin: 15px auto 20px;
    }

    .contact-us-content-right {
        max-width: initial;
    }


    /* contact us css end */




    /* refer and earn css start */

     .refer-earn-header-title {
        font-size: 40px;
    }

   .refer-earn-content {
        padding: 60px 0 0 0;
    }

    .refer-earn-banner-section {
        margin-top: 60px;
    }

    .refer-earn-steps-title h2 {
        font-size: 24px;
        font-weight: 400;
    }

    .efer-earn-steps-text {
        font-size: 34px;
        margin-top: 50px;
        padding: 0px;
    }

    .efer-earn-steps-icon img {
        max-width: 100px;
    }

    .frm-contact-main-row .frm-contact-main-text {
        padding: 0 20px 0 0;
    }

    .refer-earn-steps-col:nth-child(2) {
        padding: 0 54px 0 0;
    }

    .refer-earn-steps-col:last-child {
        padding: 0 0 0 135px;
    }

    .refer-earn-form .wpcf7 .form-fld {
        font-size: 18px;
    }

    .refer-earn-form-section-container {
        padding-left: 0;
        padding-right: 0;
    }

    .refer-earn-steps-section {
        padding: 60px 0;
    }

    .refer-earn-steps {
        padding: 55px 0 0;
    }

    .refer-earn-form-section {
        padding: 60px 0 20px 0;
    }

    .frm-contact-main-text .refer-earn-form .wpcf7 .form-fld {
        padding: 25px 30px;
        font-size: 24px;
        margin-bottom: 40px;
        font-weight: 300;
    }

    .refer-earn-form {
        padding-top: 60px;
    }

    .refer-earn-form .wpcf7 .frm-btn {
        font-size: 18px;
        font-weight: 300;
    }

    .efer-earn-steps-text h3 {
        font-weight: 400;
        font-size: 24px;
    }

    .refer-earn-form-section-col {
        padding-left: 0;
        padding-right: 0;
    }

    /* refer and earn css end */

/*new Thankyou page*/
.thank-you-content-new h1 {
    font-size: 74px;
    margin-bottom: 30px;
    line-height: 1;
}
.thank-you-content-new {
    padding-bottom: 40px;
    text-align: center;
}
/*New Thankyou page end*/
}



@media(min-width: 1920px) {




	/* Contact Us CSS Start */

	.contact-us-form .wpcf7 .form-fld {
		font-size: 24px;
		padding: 24px 40px;
	}

	.resp-container iframe {
	    height: 281px;
	}

	.contact-us-content-left-desc p:first-child {
		margin-bottom: 40px;
	}

	.contact-map-gap:first-child {
	    padding-top: 50px;
	}


	.contact-us-form .wpcf7 .frm-btn {
		font-size: 24px;	
		padding: 24px 40px;
	}

	.contact-us-header {
        padding: 100px 0;
    }

    .contact-us-header-title {
        font-size: 50px;
    }

    .contact-us-form-section {
	    padding: 50px 0 0px 69px;
	}

    .contact-us-section-1-title h2 {
        font-size: 32px;
        padding: 0 75px 0 0px;
    }

    .contact-us-section-1-description p {
        font-size: 24px;
    }
    .contact-us-content-left h2 {
    	font-size: 32px;
    }

    .contact-us-content-left-desc p:last-child {
	    margin-bottom: 0;
	}

    .contact-us-content-left-desc p {
    	font-size: 24px;
    	margin-bottom: 40px;
    	line-height: 1.5;
    }

    .contact-us-map-title {
    	padding-bottom: 15px;
    }

    .contact-map-gap {
    	padding-top: 35px;
    	padding-bottom: 35px;
    }

    .contact-us-on-map { 
    	font-size: 24px;
    }

    .contact-us-map-link {
    	font-size: 24px;
    }

    .contact-us-location-name-listing .nav-item:first-child .contact-us-location-names {
        padding-left: 0;
        font-size: 32px;
        padding: 0 95px;
    } 

    .contact-us-location-name-listing .nav-item .contact-us-location-names:active, .contact-us-location-name-listing .nav-item .contact-us-location-names:focus, .contact-us-location-name-listing .nav-item .contact-us-location-names:hover {
    	font-size: 32px;
    }

    .contact-us-location-name-listing .nav-item .contact-us-location-names {
    	font-size: 32px;
    }

    .contact-us-location-section {
        padding-top: 62px;
    }

    .contact-us-content-right {
        max-width: 575px;
    }

    .contact-us-content {
        padding: 70px 0 0 0;
    }

/* Ccontact Us CSS End*/



/* Refer And Earn CSS Start */



 	.refer-earn-header-title {
        font-size: 50px;
    }

    .refer-earn-header {
        padding: 128px 0;
    }
        
    .bg-text-title p {
        font-size: 60px;
    }

    .bg-text-title h2, .bg-text-title h1 {
        font-size: 30px;
    }    

    .refer-earn-steps-title-easy .refer-earn-steps-title h2 {
        font-size: 36px;
    }
    .collection-category-description p {
        font-size: 24px;
    }

    .efer-earn-steps-text h3 {
        font-size: 24px;
        padding: 0 35px;
    }

    .refer-earn-steps-col .refer-earn-steps {
        padding:70px 0 0 0;
    }

    .refer-earn-form-section .refer-earn-form {
        padding-top: 80px;
    }

    .efer-earn-steps-icon img {
        width: 157px;
    }

    .frm-contact-main-row .frm-contact-main-text {
        padding: 0 91px 0 18px;
    }


    .refer-earn-content .refer-earn-form-section {
        padding: 70px 0 0 0;
    }

    .refer-earn-form .wpcf7 .form-fld {
        font-weight: 300;
        font-size: 24px;
        padding: 24px 40px;
    }

    .refer-earn-form .wpcf7 .frm-btn {
        font-size: 24px;
        font-weight: 300;
        margin-top: 40px;
        padding: 24px 40px;
        max-width: 601px;
    }

    .refer-earn-content {
        padding: 70px 0 50px 0;
    }

	/* Refer And Earn CSS End */

/*New Thank You Page*/
.thank-you-content-new h1 {
    font-family: 'great_vibesregular';
    font-size: 100px;
    margin-bottom: 30px;
}
/*New Thank You Page end*/
}

